* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

/* HEADER */

header {
    margin-bottom: 130px;
}

.logo {
    display: block;
    margin: 20px auto;
    width: 40%;
}

/* BODY */
body {
    background-image: url(../img/fondopag.jpg);
    background-size: 100%;
}
.gradient {
    margin: 0 auto;
    text-align: center;
    font-family: 'roboto';
    height: 10%;
    width: 50%;
    background-image: linear-gradient(25deg, rgb(68, 68, 68), rgb(231, 67, 67),rgb(161, 211, 131));
    border-radius: 5px;
}
.boton {
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 30px;
    width: 20%;
    font-family: 'nunito';
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 8px;
}
.boton a {
    color: white;
}

/* BARRA DE NAVEGACION */

nav {
    max-width: 85%;
    margin: auto;
    font-family: 'nunito';
    text-transform: uppercase;
}
li a {
    color: black;
    font-size: 0.8rem;
}
.menuHorizontal li a:hover{
    font-weight: 700;
}
.menuHorizontal {
    display: flex;
    justify-content: space-around;
}
.menuVertical {
    position: absolute;
    display: none;
}
.menuHorizontal li:hover .menuVertical {
    display: block;
}

/* MAIN */

.main {
    width: 100%;
    margin: 0 auto;
}

.main img {
    width: 100%;
    padding: 8px 16px;
}
/* VIAJES */

.portadas img {
    width: 100%;
    padding: 8px 16px;
}
.descripcion {
    font-family: 'nunito';
    text-align: center;
    width: 80%;
    margin: 10px auto;
    font-size: 1rem;
}
h2.descripcion {
    font-weight: 200;
}

/* DESTINOS */

.banner {
    width: 100%;
}
h1.titulo {
    font-family: 'roboto';
    text-transform: uppercase;
    text-align: center;
    margin: 20px 0;
}
p.descripcionDestinos {
    font-family: 'nunito';
    text-align: center;
    width: 90%;
    margin: 10px auto;
    background-color: hsla(0, 0%, 0%, 0.089);
    border-radius: 6px;
    padding: 8px;
}
.galeriaImagenes {
    max-width: 100%;
    margin: 50px auto;
    display: grid;
}
.galeriaImagenes img{
    width: 100%;
    padding: 8px 16px;
}
.fila img{
    width: 100%;
    padding: 8px 16px;
    border-radius: 4px;
}
h2.recomendaciones {
    font-family: 'nunito';
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
}

/* VIDEOS */

.misVideos {
    text-align: center;
    font-size: 22px;
    font-family: 'roboto';
    text-transform: uppercase;
    margin-bottom: 30px;
}
.videos {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 90%;
}
.videos iframe{
    width: 100%;
    height: 300px;
    border-radius: 4px;
}
.videos p {
    margin: 10px 0px 30px 15px;
    font-family: 'nunito';
    font-size: 12px;
}


/* SOBRE MI */

.sobreMi {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.historia {
    width: 80%;
    background-color: hsla(0, 0%, 0%, 0.089);
    border-radius: 10px;
    margin-bottom: 20px;
}

.sobreMi h1 {
    font-family: 'roboto';
    padding: 10px;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    margin-top: 5px;
}
.sobreMi h3 {
    margin: 7px;
    font-family: 'nunito';
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
}

.sobreMi p {
    font-family: 'nunito';
    font-weight: 400;
    margin: 20px 0px;
    text-align: center;
    border-radius: 15px;
    font-size: 13px;
    padding: 8px;
}
.sobreMi img {
    width: 80%;
    border-radius: 10px;
    margin-bottom: 20px;
}


/* FORMULARIO DE CONTACTO */

.formulario {
    background-image: url(../img/fondoform.jpg);
    color: white;
    border-radius: 10px;
    border: black solid 2px;
    width: 90%;
    font-family: 'nunito';
    margin: 30px auto;
    padding: 20px;
    font-size: 20px;
}
.formulario p {
    margin: 5px;
    font-size: 15px;
}

.input {
    width: 95%;
    padding: 15px;
    border-radius: 3px;
    margin-left: 10px;
}
.extensionInput {
    margin-left: 10px;
    padding: 15px;
    border-radius: 3px;
    width: 95% ;
}
.evento {
    font-size: 17;
}
div.tab span {
    margin-left: 5px;
}
form span {
    margin-left: 14px;
    font-size: 15px;
}
.formulario-centrado label{
    font-size: 15px;
}
.button {
    background-color: #60d394;
    font-size: 20px;
    font-family: 'roboto' sans-serif;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
    margin-bottom: 10px;
}
h2.centrar {
    text-align: center;
    font-size: 25px;
    font-family: 'nunito';
    font-weight: 100;
}



/* FOOTER */

.footer {
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: 'nunito';
    text-transform: uppercase;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px 25px 10px 25px;
    width: 100%;
}

.footer h3 {
    font-weight: 200;
    font-size: 0.87rem;
    letter-spacing: 4px;
    margin-bottom: 10px;
}

.footer ul {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
    justify-content: space-between;
}

.footer p {
    font-size: 0.6rem;
    margin-top: 20px;
}

@media (min-width: 780px){

    li a {
        font-size: 1rem;
    }
    .logo {
        width: 30%;
    }
    .footer ul {
        width: 35%;
    }
    .footer p{
        font-size: 0.7rem;
    }
    .galeriaPrincipal {
        max-width: 90%;
        margin: 50px auto;
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    .formulario {
        width: 60%;
    }
    .sobreMi {
        display: flex;
        flex-direction: row-reverse;
        margin: 50px auto;
        align-items: center;
        justify-content: center;
        width: 90%;
    }
    .sobreMi img {
        width: 361px;
        height: 426px;
    }
    .historia {
        margin-left: 20px;
        min-width: 361px;
        width: 361px;
        height: 426px;
    }
    .historia p {
        font-size: 0.7rem;
        padding: 8px;
    }
    .videos iframe{
        height: 500px;
    }
    .descripcion {
        font-size: 1.5rem;
    }
    
    .galeriaImagenes {
        margin: 50px auto;
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    .galeriaImagenes img{
        padding: 8px 16px 16px 16px;
    }
    .galeriaImagenes {
        margin: 50px 10px;
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    .fila {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        margin: 20px 10px;
    }
    
}


@media (min-width:1200px){
    
    .logo {
        width: 18%;
    }
    nav {
        max-width: 50%;
    }
    li a {
        font-size: 1.15rem;
    }
    .galeriaPrincipal {
        max-width: 95%;
        margin: 10px auto;
        display: grid;
        grid-template-columns: repeat(5,1fr);
    }
    main {
        min-height: 80vh;
    }
    .footer{
        margin-top: 15px;
    }
    .footer ul {
        max-width: 20%;
    }
    .formulario {
        width: 40%;
    }
    .sobreMi {
        display: flex;
        flex-direction: row-reverse;
        margin: 50px auto;
        align-items: center;
        justify-content: center;
        width: 90%;
    }
    .sobreMi img {
        width:540px;
        height: 640px;
    }
    .historia {
        margin-left: 20px;
        width:540px;
        height: 640px;
        
    }
    .historia p {
        font-size: 1.2rem;
        margin-top: 35px;
        padding: 8px;
    }
    .videos iframe{
        height: 700px;
    }
    .videos p {
        font-size: 15px;
    }
    .descripcion {
        font-size: 2rem;
    }
}