.header {
    display: flex;
    flex-direction: column;

    a {
        margin: 0 auto;
    }

    nav {
        div {
            div {
                ul {
                    margin: 0 auto;
                    li {
                        font-family: $fuente2;
                        text-transform: uppercase;
                        font-weight: 600;
                        margin: 0px 15px;
                    }
                }
            }
        }
    }
}