.header {
    @extend %column;
    a {
        margin: 0 auto;
    }

    nav {
        div {
            div {
                ul {
                    .dropdown-menu {
                        --bs-dropdown-link-active-bg: rgb(196, 196, 196) !important;
                    }
                    margin: 0 auto;
                    li {
                        font-family: $fuente2;
                        text-transform: uppercase;
                        font-weight: 600;
                        margin: 0px 15px;
                    }
                }
            }
        }
    }
}