.sobreMi {
    @extend %column;
    align-items: center;
    justify-content: space-around;

    .historia {
        width: 80%;
        background-color: hsla(0, 0%, 0%, 0.089);
        border-radius: 10px;
        margin: 20px 0;

        h1 {
            font-family: $fuente1;
            padding: 10px;
            font-size: 35px;
            font-weight: 600;
            text-align: center;
            text-transform: uppercase;
            margin-top: 5px;
        }

        h3 {
            margin: 7px;
            font-family: $fuente2;
            font-weight: 500;
            text-transform: uppercase;
            @include fuente (20px);
        }

        p {
            font-family: $fuente2;
            font-weight: 400;
            margin: 20px 0px;
            @include fuente (13px);
            border-radius: 15px;
            font-size: 13px;
            padding: 8px;
        }

    }

    img {
        width: 80%;
        border-radius: 10px;
    }
}

.boton {
    margin: 25px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 30px;
    width: 28%;
    font-family: $fuente2;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 4px;

    &:hover {
        transform: skew(-20deg);
        transition: 0.4s;
        background: rgb(255, 255, 255);
        background: radial-gradient(circle, rgb(95, 95, 95) 0%, rgba(0, 0, 0, 1) 100%);
    }
    a {
        color: rgb(175, 175, 175);
        &:hover {
            color: rgb(255, 255, 255);
            transition: 0.4s;
        }
    }
}

/* MEDIA QUERY */

@media (min-width:760px) {
    .sobreMi {
        display: flex;
        flex-direction: row-reverse;
        margin: 50px auto;
        align-items: center;
        justify-content: center;
        width: 90%;
        img {
            width: 361px;
            height: 426px;
        }
        .historia {
            margin-left: 20px;
            min-width: 361px;
            width: 361px;
            height: 426px;
            p {
                font-size: 0.7rem;
                padding: 8px;
            }
        }
    }
}

@media (min-width:1180px) {
    .sobreMi {
        display: flex;
        flex-direction: row-reverse;
        margin: 50px auto;
        align-items: center;
        justify-content: center;
        width: 90%;
        img {
            width: 540px;
            height: 640px;
        }
        .historia {
            margin-left: 20px;
            width: 540px;
            height: 640px;
            p {
                font-size: 1.1rem;
                padding: 8px;
                margin-top: 35px;
            }
        }
    }
}