.gradient {
    text-align: center;
    font-family: $fuente1;
    width: 100%;
    height: 10vh;
    padding: 30px 0;
    animation-name: titulo;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    margin: 50px 0;
    font-size: 35px;
}
.videos {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 90%;
    iframe {
        width: 100%;
        height: 300px;
        border-radius: 4px;
    }
    p {
        margin: 10px 0px 30px 15px;
        font-family: $fuente2;
        font-size: 12px;
    }
}


@keyframes titulo {
    0% {
        color: #9e0031;
    }

    10% {
        color: #8e0045;
    }

    20% {
        color: #770058;
    }

    30% {
        color: #600047;
    }

    40% {
        color: #44001A;
    }

    50% {
        color: #9E0031;
    }

    60% {
        color: #8E0045;
    }

    70% {
        color: #770058;
    }

    80% {
        color: #600047;
    }

    90% {
        color: #44001A;
    }

    100% {
        color: #9E0031;
    }
}


@media (min-width:760px) {
    .videos {
        iframe {
            height: 500px;
        }
    }
}

@media (min-width:1180px) {
    .videos {
        iframe {
            height: 700px;
        }
        p {
            font-size: 15px;
        }
}
}